/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
*/
@import "compass/css3";
/*** common style **/
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}
button:hover, button:active, button:focus, button:visited {
  outline: none;
}
.font-green {
  color: #93c241;
}
.font-red {
  color: #ed4054;
}
.font-gray {
  color: #808080;
}
.font-simiblod {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-up {
  text-transform: uppercase;
}
.po-r {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt30 {
  margin-top: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
  a:hover, a:focus {
    color: inherit;
  }
}
.cart-shadow {
  @include box-shadow(1px 1px 2px #808080);
}
.bg-white {
  background-color: #fff;
  padding: 15px;
}
.font18 {
  font-size: 18px;
}
.a-green{
  color: #93c241;
  &:hover{
    color: #619409;
  }
}
/*** common style end **/

.layout-full-width {
  max-width: 1980px;
}
//.top-banner {
//  height: 450px;
//}
#header {
  color: #7d6a55;

  .header-nav {
    max-height: 50px;
    padding: .9375rem 37px;
    margin-bottom: 30px;

    .inline-block-wrap > div {
      display: inline-block;
    }

    .fa-cart-arrow-down {
      font-size: 1.8em;
    }
  }

  .user-info {
    a {
      color: #7d6a55;
    }
  }

  .language-selector-wrapper {
    margin-left: 2.5rem;
  }

  .language-selector {
    white-space: nowrap;
    cursor: pointer;
  }

  .fa-caret-down {
    padding-left: .375rem;
    color: #7d6a55;

  }
  .blockcart {
    margin-left: .9375rem;
  }
  .blockcart .header {
    position: relative;
  }

  .blockcart.inactive .cart-products-count {
    position: absolute;
    top: -5px;
    right: -12px;
    background-color: #93c241;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }

}
/**** search   ***/
.search-widget form {
  input[type=text] {
    border: 1px solid #7d6a55;
    padding: 2px 10px;
    min-width: 255px;
    &:active, &:hover, &:focus, &:visited {
      outline: none;
    }
  }

  button[type=submit] {
    background: none;
    border: none;
    &:active, &:hover, &:focus, &:visited {
      color: #93c241;
      outline: none;
    }
  }

}
.search-dropdown {
  .dropdown-menu {
    position: absolute;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
    top: 0;
    left: auto;
    right: 0;
    width: 293px;
  }
  .fa-2x {
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: #93c241;
    }
  }
}
/**** search  end ***/

/**** header nav ***/

.header-top {
  a {
    color: #7c6a55;
  }
  .user-info {
    float: right;
    font-size: 24px;
    margin: 10px 7px;

  }
}
.header-top.navbar {
  border-bottom: 3px solid #93c241;
}
.top-header.navbar-nav {
  float: none;
}
.top-header {
  > li {
    position: relative;
    overflow: hidden;
    > a {
      font-size: 1.125em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .fa-angle-down {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 30px;
      font-size: 20px;
      text-align: center;
    }
  }

  li:hover {
    > a {
      color: #93c241;
    }
  }
}
.down-level-1 {
  //display: none;
  width: 100%;
  min-width: 200px;
  background-color: #f4f8ee;
  &:before {
    content: "";
    height: 22px;
    position: absolute;
    top: -22px;
    width: 100%;
    left: 0;
  }

  &:after {
    font-family: FontAwesome;
    content: "\f0d8";
    position: absolute;
    top: -32px;
    left: 45%;
    font-size: 30px;
    color: #f4f8ee;
  }

  li a {
    display: block;
    padding: 5px 15px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    margin-bottom: 20px;
  }
  .navbar > .container .navbar-brand {
    display: block;
    width: 100%;
    img {
      margin: auto;
    }
  }

  /**** 彈性盒子佈局 ***/
  .dp-flexbox.top-header {
    @include display-flex(flex);
    @include flex-wrap(nowrap);
    @include justify-content(center);
  }
  .dp-flexbox.top-header > li {
    @include flex-grow(1);
  }
  /**** 彈性盒子佈局  end ***/

  .top-header {
    > li {
      //float: left;
      //width: 25%;
      > a {
        text-align: center;
      }
      .fa-angle-down {
        display: none;
      }
    }
    li:hover {
      overflow: visible;
      .down-level-1 {
        opacity: 1;
        visibility: visible;
      }
    }
    .dropdown-menu {
      display: block;
      border: 0;
      box-shadow: none;
    }

  }

  .down-level-1 {
    position: absolute;
    top: 55px;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    @include transition(.6s);
  }
}
/**** header nav  end ***/

/**** breadcrumb ***/
#wrapper .breadcrumb[data-depth="1"] {
  display: none;
}
.breadcrumb {
  li.active a {
    color: #93c241;
  }
  a {
    color: #4c4c4c;
    text-transform: capitalize;
  }
}
/**** breadcrumb  end ***/

/**** mobile heaader   ***/
.mobile-cart {
  float: right;
  font-size: 15px;
  margin: 15px 15px 15px 0;
}
@media (max-width: 767px) {
  #header .language-selector-wrapper {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .language-selector {
    display: inline-block;
  }
  .navbar-brand img {
    width: 200px;
    margin: 10px auto;
  }
  .navbar-brand {
    line-height: 50px;
    vertical-align: middle;
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 413px) {
  .navbar-brand img {
    width: 160px;
    margin: 15px auto;
  }
}
/**** mobile heaader  end ***/

/**** image slider   ***/
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-banner {
  height: 800px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .home-banner {
    height: 400px;
  }
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .home-banner {
    height: 280px;
  }
}
/**** image slider  end ***/

/**** owl carousel ***/

.owl-prev, .owl-next {
  color: #cccccc;
  font-size: 80px;
  position: absolute;
  top: 32%;
  width: 60px;
  cursor: pointer;
  &:before {
    font-family: FontAwesome;
  }
  &:hover {
    color: #93c241;
  }
}
.owl-prev {
  left: -60px;
  &:before {
    content: "\f104";
  }
}
.owl-next {
  right: -60px;
  text-align: right;
  &:before {
    content: "\f105";
  }
}
.owl-nav, .owl-dots {
  display: none !important;
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-carousel:hover {
  .owl-nav {
    display: block !important;
  }
}
.hr-green {
  border-color: #93c241;
}
/**** owl carousel  end ***/
/**** product  ***/
.product-wrapper {
  margin: 40px auto;
}
.section-title {
  font-weight: 700;
  text-align: center;
  color: #93c241;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.product-list {
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  &:hover {
    border-color: #93c241;
  }
  .product-img {
    padding: 80px 20px 20px;
    display: block;
  }
  a img {
    max-width: 85%;
    margin: auto;
  }
}
.product-title {
  height: 40px;
  overflow: hidden;
  color: #4c4c4c;
}
.product-title a {
  color: #4c4c4c;
  font-weight: 600;
  &:hover {
    color: #93c241;
  }
}
.product-description {
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  color: #e23e57;
}
.old-price {
  font-weight: 300;
  font-size: 18px;
  color: #808080;
  text-decoration: line-through;
}
.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
  .new, .sale {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    background: #ed4054;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 50px;
  }
  .sale {
    left: auto;
    right: 20px;
    top: 20px;
    background: #febc23;
  }
}
.highlighted-informations {
  position: absolute;
  bottom: 0;
  z-index: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  transition: bottom .3s;
}
.product-list:hover .highlighted-informations {
  bottom: 100px;
}
.add-to-cart {
  border-radius: 17px;
  @include box-shadow(#808080 1px 1px 2px);
  i {
    font-size: 20px;
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .product-list .highlighted-informations {
    bottom: 100px;
  }
}
/**** product end ***/

/**** brands show ***/
.brands-wrapper {
  background-image: url("../../assets/img/demo/brand-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
.brand-list {
  height: 150px;
  text-align: center;
  white-space: nowrap;
}
.img-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.brand-list .brand-img {
  max-height: 100%;
  max-width: 100%;
}
.brands-wrapper .owl-prev, .brands-wrapper .owl-next {
  top: 0;
}
@media (max-width: 767px) {
  .brand-list {
    height: 100px;
  }
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
/**** brands show end ***/

/**** blog show ***/
.table-wall {
  width: 100%;
}
.blog-table {
  height: 350px;
}
.blog-tags {
  padding: 10px 0;
  span:first-child {
    margin-right: 30px;
  }
}
.blog-date {
  color: #808080;
}
.blog-tag {
  color: #ed4054;
}
.blog-table p {
  line-height: 1.8;
}
.blog-brief {
  position: relative;
  max-height: 110px;
  overflow: hidden;
  &:before {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 1px 45px;
    background: url(../../assets/img/ellipsis_bg.png) repeat-y;
  }
}
.blog-carousel .carousel-indicators {
  position: relative;
  left: 0;
  width: 100%;
  margin: 15px 0 0;
  bottom: 0;
}
.blog-carousel .carousel-indicators .active {
  background-color: #93c241;
}
.blog-carousel .carousel-indicators li {
  background-color: #ccc;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .blog-table {
    height: 230px;
  }
  .blog-brief {
    max-height: 83px;
  }
}
@media (max-width: 767px) {
  .blog-table {
    height: auto;
  }
}
/**** blog show end ***/

/**** subscription block ***/
.subscription-wrapper {
  background-image: url("../../assets/img/demo/bg-subscription.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}
.subscription-wrapper form input {
  height: 46px;
}
.subscription-wrapper form input[type=text] {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 6px 20px;
}
.subscribe-submit {
  position: absolute;
  right: 15px;
  top: -1px;
  height: 48px !important;
  font-size: 18px;
  padding: 6px 20px;
}
@media (max-width: 767px) {
  .subscription-wrapper form input[type=text] {
    font-size: 14px;
  }
  .subscribe-submit {
    font-size: 16px;
    padding: 6px;
  }
}
/**** subscription block end ***/

/**** footer ***/
.footer-wrapper {
  background-color: #93c241;
  padding: 30px 0 20px;
  color: #fff;
}
.media-icon-wrapper {
  text-align: center;
}
.footer-nav li a {
  color: #fff;
}
.footer-nav li a:hover {
  font-weight: 600;
}
.media-icon-wrapper .navbar-nav {
  display: inline-block;
  float: none;
}
.media-icon-wrapper li {
  margin: 20px 30px 0;
}
.media-icon-wrapper li a {
  background-color: #fff;
  color: #93c241;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 24px;
  padding: 10px 0;
}
.media-icon-wrapper li a:hover {
  opacity: 0.8;
}
.copyright {
  font-size: 14px;
}
@media (max-width: 767px) {
  .media-icon-wrapper .nav li {
    display: inline-block;
  }
}
/**** footer end ***/

/**** backtop ***/
#scrollUp {
  display: none;
  background-color: #ed4054;
  color: #fff;
  bottom: 30px;
  right: 20px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  text-align: center;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  padding-top: 5px;
  position: fixed;
  z-index: 2147483647;
}
/**** backtop end ***/

/**** category ***/
.category-ul, .filters-collapse {
  background-color: #f4f8ee;
  padding: 15px;
  text-transform: capitalize;
}
.category-ul {
  a {
    color: #4d4d4d;
  }
  > li {
    position: relative;
    padding: 3px 0;
  }
  > li > a {
    font-weight: 600;
  }
  li:hover > a {
    color: #93c241;
  }
  .collapse-arrow {
    position: absolute;
    top: -4px;
    right: 0px;
    width: 30px;
    text-align: center;
    font-size: 20px;
  }
}
.collapse-arrow.collapsed .fa-caret-down:before {
  content: "\f0da";
}
.panel-collapse {
  margin-bottom: 10px;
}
.products-sort-order {
  .select-title {
    display: inline-block;
    margin-left: .375rem;
    width: 100%;
    color: #414141;
    //background: #f4f8ee;
    padding: .625rem;
    cursor: pointer;
    border: 1px solid #4d4d4d;
  }
  .dropdown-menu {
    left: auto;
    width: 90%;
    background: #f4f8ee;
    border: none;
    border-radius: 0;
  }
  .select-list {
    display: block;
    color: #414141;
    padding: .625rem 1.25rem;
  }
  .select-list:hover {
    background: #93c241;
    color: #fff;
    text-decoration: none;
  }
}
.sort-by {
  font-size: 18px;
  color: #93c241;
  text-align: right;
}
.select-title .fa-caret-down {
  padding-top: 5px;
}
.page-input {
  border-radius: 4px;
  width: 56px;
  text-align: center;
  color: #808080;
  border: 1px solid #4d4d4d;
  line-height: 26px;
  padding: 3px 6px;
}
.icheck-minimal {
  ul {
    padding: 10px 0;
  }
  ul + ul {
    border-top: 1px solid #fff;
  }
  label {
    font-weight: 400;
    font-size: 14px;
  }
  .icheckbox_minimal-green.checked + label {
    color: #93c241;
  }
}
/**** category end ***/

/**** product detail ***/
.product-id {
  font-size: 24px;
  color: #4c4c4c;
}
.product-brand span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}
.brand-small-img {
  width: 60px;
  margin-right: 10px;
}
.product-introduction {
  color: #808080;
  font-size: 16px;
  margin: 10px 0 30px;
}
.product-price {
  margin: 10px 0 20px;
  .price {
    font-size: 30px;
    display: block;
  }
  .old-price {
    font-size: 24px;
    display: block;
  }
}
.product-quantity .qty {
  width: 160px;
  color: #808080;
}
.num-input-wrapper {
  position: relative;
  width: 100%;
  border-radius: 0;
}
.quantity_wanted {
  background-color: #fff;
  height: 46px;
  padding: 10px;
  width: 70px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #000;
  font-size: 18px;
  margin-left: 40px;
}
.product-num {
  padding: 8px 11px;
  background: none;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.product-num.num-plus {
  left: 116px;
}
.btn-add-cart {
  height: 46px;
  font-size: 24px;
  margin-right: 10px;
}
.btn-add-cart i {
  font-size: 30px;
  margin-right: 10px;
}
.social-sharing {
  ul, li {
    display: inline-block;
  }
  li {
    margin: 0 10px;
  }
  a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    &:hover {
      color: #93c241;
    }
  }
}
.tabs {
  li {
    display: inline-block;
  }
}
.information-title-tab {
  text-align: center;
  font-size: 30px;
  color: #808080;
  li a {
    color: #808080;
  }
  li.active a {
    color: #93c241;
  }
}
.product-style-2 .product-list {
  position: relative;
}
.view-more-master {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}
.view-product {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  background-color: #93c241;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 36%;
  &:hover {
    color: #fff;
    background-color: #ed4054;
  }
}
.product-style-2 .product-list:hover {
  border-color: transparent;
  .view-more-master {
    display: block;
  }
}
@media (min-width: 768px) {
  .product-quantity .qty, .product-quantity .add {
    display: inline-block;
  }
}
/**** product detail end ***/

/**** brands page ***/

/**** brands page end ***/

/**** blog page ***/
.blog-nav {
  background-color: #f4f8ee;
  padding: 5px 15px;
  ul {
    margin: 6px 0;
    padding-left: 0;
  }
  ul, li {
    float: left;
  }
  li {
    margin: 0 40px;
    a {
      color: #4c4c4c;
      &:hover {
        color: #93c241;
      }
    }
  }
  li.active {
    a {
      color: #93c241;
    }
  }
}
.blog-list {
  margin: 60px 0;
}
.blog-read-more {
  margin-top: 30px;
  min-width: 155px;
  font-size: 18px;
  font-weight: 600;
}
.blog-detail {
  background-color: #f4f8ee;
}
@media (min-width: 768px) {
  .blog-banner-info {
    padding: 0 20px;
    .blog-date {
      color: #93c241;
    }
    .social-sharing {
      margin-top: 30px;
    }
  }
}
@media (max-width: 767px) {
  .blog-nav {
    li {
      float: none;
    }
  }
}
/**** blog page end ***/

/**** customer service ***/
.a-email {
  color: #93c241;
  font-weight: 700;
}
.service-list {
  > a {
    display: block;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #93c241;
  }
  .collapse-arrow .fa-caret-down:before {
    position: absolute;
    top: 0;
    right: 0;
  }
  .collapse-arrow.collapsed .fa-caret-down:before {
    content: "\f0d8";
  }
}
.service-list {
  ul, ol {
    margin-bottom: 30px;
  }
  .panel-collapse {
    margin: 20px 0 30px;
  }
}
.list-nostyle {
  list-style: none;
  padding-left: 30px;
}
/**** customer service end ***/

/**** common section  ***/
.description-wrapper {
  margin: 60px 0;
  p {
    margin: 10px 0 20px;
  }
}
/**** common section end ***/

/**** contact us ***/
.bg-light-green {
  background-color: #f4f8ee;
  padding: 15px;
}
.contact-form-wrapper {
  margin: 60px 0;
  padding: 30px 15px;
  @include box-shadow(0px 1px 2px #ccc);
}
.custom-form {
  .form-group {
    margin-bottom: 20px;
  }
  .control-label {
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal;
  }
  .form-control {
    border-radius: 0;
    border-color: #ccc;
  }
}
.btn-gray {
  margin-right: 30px;
  color: #fff;
  &:hover, &:focus, &.focus {
    color: #4c4c4c;
    background-color: #fff;
    border: 1px solid #ccc;
  }
}
@media (min-width: 768px) {
  .dl-custom-1 {
    dt, dd {
      margin-bottom: 10px;
    }
    dt {
      text-align: left;
      width: 140px;
      font-weight: normal;
    }
    dd {
      margin-left: 150px;
    }
  }
}
@media (max-width: 767px) {
  .dl-custom-1 {
    dt {
      margin-top: 10px;
    }
  }
}
/**** contact us end ***/

/**** my account ***/
.account-item {
  display: block;
  text-align: center;
  padding: 40px 10px;
  font-weight: 700;
  font-size: 24px;
  color: #808080;
  margin-bottom: 30px;
  text-transform: uppercase;
  @include box-shadow(1px 1px 2px #808080);
  i {
    display: block;
  }
  &:hover {
    background-color: #93c241;
    color: #fff;
  }
}
/**** my account end ***/

/**** order history ***/
.order-item {
  margin-top: 30px;
}
.once-item {
  margin: 30px 0;
}
.price-qty {
  .col-xs-12 {
    text-align: right;
  }
}
.custom-table-striped {
  > thead > tr {
    background-color: #e6eed9;
    > th {
      border-bottom: 1px solid #fff;
      padding: 15px 8px;
    }
  }
  > tbody > tr > th,
  > tbody > tr > td{
    font-weight: normal;
    font-size: 14px;
    color: #808080;
  }
  > tbody > tr:nth-of-type(odd) {
    background-color: #e6eed9;
  }
  > tbody > tr:nth-of-type(even) {
    background-color: #f4f8ee;
  }
}
/**** order history end ***/

/**** addresses ***/
.address-body {
  min-height: 350px;
}
.address-footer {
  a {
    i {
      font-size: 18px;
      margin-right: 10px;
    }
    &:hover {
      color: #93c241;
    }
  }
}
/**** addresses end ***/
/**** login page ***/
.toggle-password {
  position: relative;
}
.toggle-password-btn {
  position: absolute;
  top: 1px;
  right: 0;
  .btn {
    background: none;
  }
}
/**** login page end ***/

/**** shopping cart ***/
.border-white {
  border-top: 1px solid #fff;
}
.border-green {
  border-top: 1px solid #93c241;
}
.promo-wrapper {
  .form-control {
    float: left;
    width: 75%;
  }
  button {
    float: right;
    width: 20%;
  }
}
.cart-product-price {
  .price {
    font-size: 18px;
    display: block;
  }
  .old-price {
    font-size: 16px;
  }
}
.cart-qty {
  text-align: left !important;
  .quantity_wanted {
    margin-left: 0;
    border-color: #ccc;
    width: 60px;
  }
  .product-num {
    left: 65px;
    right: 0;
    padding: 0;
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    width: 25px;
    color: #808080;
  }
  .num-sub {
    top: 0px;
  }
  .product-num.num-plus {
    top: auto;
    bottom: 0px;
  }
}
.cart-items {
  > tbody > tr > td {
    border: 0;
    padding: 15px 8px;
  }
  td {
    text-align: center;
  }
}
.cart-img {
  width: 22%;
}
.cart-product-info {
  width: 40%;
  text-align: left !important;
  vertical-align: top;
}
.remove-from-cart {
  color: #4c4c4c;
  font-size: 26px;
  &:hover {
    color: #c4c4c4;
  }
}
@media (max-width: 767px) {
  .cart-items {
    > tbody > tr {
      border-bottom: 1px solid #ccc;
    }
    > tbody > tr > td {
      display: inline-block;
    }
  }
  .cart-img, .cart-product-info, .cart-qty {
    float: left;
  }
  .cart-img {
    width: 100%;
    img {
      width: 50%;
      margin: auto;
    }
  }
  .cart-product-info {
    width: 100%;
  }
  .cart-qty {
    width: 40%;
  }
}
/**** shopping cart end ***/

/**** checkout ***/
.checkout-step {
  .information-title-tab {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
  }
}
/**** checkout end ***/

@media (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
  .desktop-mt50 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
}

