@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
*/
/*** common style **/
/* line 7, ../sass/main.scss */
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

/* line 10, ../sass/main.scss */
button:hover, button:active, button:focus, button:visited {
  outline: none;
}

/* line 13, ../sass/main.scss */
.font-green {
  color: #93c241;
}

/* line 16, ../sass/main.scss */
.font-red {
  color: #ed4054;
}

/* line 19, ../sass/main.scss */
.font-gray {
  color: #808080;
}

/* line 22, ../sass/main.scss */
.font-simiblod {
  font-weight: 600;
}

/* line 25, ../sass/main.scss */
.font-bold {
  font-weight: 700;
}

/* line 28, ../sass/main.scss */
.font-light {
  font-weight: 300;
}

/* line 31, ../sass/main.scss */
.font-up {
  text-transform: uppercase;
}

/* line 34, ../sass/main.scss */
.po-r {
  position: relative;
}

/* line 37, ../sass/main.scss */
.inline-block {
  display: inline-block;
}

/* line 40, ../sass/main.scss */
.ml10 {
  margin-left: 10px;
}

/* line 43, ../sass/main.scss */
.mr10 {
  margin-right: 10px;
}

/* line 46, ../sass/main.scss */
.ml20 {
  margin-left: 20px;
}

/* line 49, ../sass/main.scss */
.mr20 {
  margin-right: 20px;
}

/* line 52, ../sass/main.scss */
.mt30 {
  margin-top: 30px !important;
}

/* line 55, ../sass/main.scss */
.mb30 {
  margin-bottom: 30px !important;
}

/* line 58, ../sass/main.scss */
.mt60 {
  margin-top: 60px !important;
}

/* line 61, ../sass/main.scss */
.mb60 {
  margin-bottom: 60px !important;
}

/* line 65, ../sass/main.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
/* line 68, ../sass/main.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: inherit;
}

/* line 72, ../sass/main.scss */
.card-shadow {
  -moz-box-shadow: 1px 1px 2px #cccccc;
  -webkit-box-shadow: 1px 1px 2px #cccccc;
  box-shadow: 1px 1px 2px #cccccc;
}

/* line 75, ../sass/main.scss */
.bg-white {
  background-color: #fff;
  padding: 15px;
}

/* line 79, ../sass/main.scss */
.font18 {
  font-size: 18px;
}

/* line 82, ../sass/main.scss */
.a-green {
  color: #93c241;
}
/* line 84, ../sass/main.scss */
.a-green:hover {
  color: #619409;
}

/*** common style end **/
/* line 90, ../sass/main.scss */
.layout-full-width {
  max-width: 1980px;
}

/* line 96, ../sass/main.scss */
#header {
  color: #7d6a55;
}
/* line 99, ../sass/main.scss */
#header .header-nav {
  max-height: 50px;
  padding: .9375rem 37px;
  margin-bottom: 30px;
}
/* line 104, ../sass/main.scss */
#header .header-nav .inline-block-wrap > div {
  display: inline-block;
}
/* line 108, ../sass/main.scss */
#header .header-nav .fa-cart-arrow-down {
  font-size: 1.8em;
}
/* line 114, ../sass/main.scss */
#header .user-info a {
  color: #7d6a55;
}
/* line 119, ../sass/main.scss */
#header .language-selector-wrapper {
  margin-left: 2.5rem;
}
/* line 123, ../sass/main.scss */
#header .language-selector {
  white-space: nowrap;
  cursor: pointer;
}
/* line 128, ../sass/main.scss */
#header .fa-caret-down {
  padding-left: .375rem;
  color: #7d6a55;
}
/* line 133, ../sass/main.scss */
#header .blockcart {
  margin-left: .9375rem;
}
/* line 136, ../sass/main.scss */
#header .blockcart .header {
  position: relative;
}
/* line 140, ../sass/main.scss */
#header .blockcart.inactive .cart-products-count {
  position: absolute;
  top: -5px;
  right: -12px;
  background-color: #93c241;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

/**** search   ***/
/* line 157, ../sass/main.scss */
.search-widget form input[type=text] {
  border: 1px solid #7d6a55;
  padding: 2px 10px;
  min-width: 255px;
}
/* line 161, ../sass/main.scss */
.search-widget form input[type=text]:active, .search-widget form input[type=text]:hover, .search-widget form input[type=text]:focus, .search-widget form input[type=text]:visited {
  outline: none;
}
/* line 166, ../sass/main.scss */
.search-widget form button[type=submit] {
  background: none;
  border: none;
}
/* line 169, ../sass/main.scss */
.search-widget form button[type=submit]:active, .search-widget form button[type=submit]:hover, .search-widget form button[type=submit]:focus, .search-widget form button[type=submit]:visited {
  color: #93c241;
  outline: none;
}

/* line 177, ../sass/main.scss */
.search-dropdown .dropdown-menu {
  position: absolute;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: auto;
  right: 0;
  width: 293px;
}
/* line 188, ../sass/main.scss */
.search-dropdown .fa-2x {
  font-size: 24px;
  cursor: pointer;
}
/* line 191, ../sass/main.scss */
.search-dropdown .fa-2x:hover {
  color: #93c241;
}

/**** search  end ***/
/**** header nav ***/
/* line 201, ../sass/main.scss */
.header-top a {
  color: #7c6a55;
}
/* line 204, ../sass/main.scss */
.header-top .user-info {
  float: right;
  font-size: 24px;
  margin: 10px 7px;
}

/* line 211, ../sass/main.scss */
.header-top.navbar {
  border-bottom: 3px solid #93c241;
}

/* line 214, ../sass/main.scss */
.top-header.navbar-nav {
  float: none;
}

/* line 218, ../sass/main.scss */
.top-header > li {
  position: relative;
  overflow: hidden;
}
/* line 221, ../sass/main.scss */
.top-header > li > a {
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 226, ../sass/main.scss */
.top-header > li .fa-angle-down {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
/* line 237, ../sass/main.scss */
.top-header li:hover > a {
  color: #93c241;
}

/* line 242, ../sass/main.scss */
.down-level-1 {
  width: 100%;
  min-width: 200px;
  background-color: #f4f8ee;
}
/* line 247, ../sass/main.scss */
.down-level-1:before {
  content: "";
  height: 22px;
  position: absolute;
  top: -22px;
  width: 100%;
  left: 0;
}
/* line 256, ../sass/main.scss */
.down-level-1:after {
  font-family: FontAwesome;
  content: "\f0d8";
  position: absolute;
  top: -32px;
  left: 45%;
  font-size: 30px;
  color: #f4f8ee;
}
/* line 266, ../sass/main.scss */
.down-level-1 li a {
  display: block;
  padding: 5px 15px;
  font-weight: 600;
}

@media (min-width: 768px) {
  /* line 273, ../sass/main.scss */
  .navbar-header {
    margin-bottom: 20px;
  }

  /* line 276, ../sass/main.scss */
  .navbar > .container .navbar-brand {
    display: block;
    width: 100%;
  }
  /* line 279, ../sass/main.scss */
  .navbar > .container .navbar-brand img {
    margin: auto;
  }

  /**** 褰堟€х洅瀛愪綀灞€ ***/
  /* line 285, ../sass/main.scss */
  .dp-flexbox.top-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
  }

  /* line 290, ../sass/main.scss */
  .dp-flexbox.top-header > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  /**** 褰堟€х洅瀛愪綀灞€  end ***/
  /* line 299, ../sass/main.scss */
  .top-header > li > a {
    text-align: center;
  }
  /* line 302, ../sass/main.scss */
  .top-header > li .fa-angle-down {
    display: none;
  }
  /* line 306, ../sass/main.scss */
  .top-header li:hover {
    overflow: visible;
  }
  /* line 308, ../sass/main.scss */
  .top-header li:hover .down-level-1 {
    opacity: 1;
    visibility: visible;
  }
  /* line 313, ../sass/main.scss */
  .top-header .dropdown-menu {
    display: block;
    border: 0;
    box-shadow: none;
  }

  /* line 321, ../sass/main.scss */
  .down-level-1 {
    position: absolute;
    top: 55px;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}
/**** header nav  end ***/
/**** breadcrumb ***/
/* line 333, ../sass/main.scss */
#wrapper .breadcrumb[data-depth="1"] {
  display: none;
}

/* line 337, ../sass/main.scss */
.breadcrumb li.active a {
  color: #93c241;
}
/* line 340, ../sass/main.scss */
.breadcrumb a {
  color: #4c4c4c;
  text-transform: capitalize;
}

/**** breadcrumb  end ***/
/**** mobile heaader   ***/
/* line 348, ../sass/main.scss */
.mobile-cart {
  float: right;
  font-size: 15px;
  margin: 15px 15px 15px 0;
}

@media (max-width: 767px) {
  /* line 354, ../sass/main.scss */
  #header .language-selector-wrapper {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* line 358, ../sass/main.scss */
  .language-selector {
    display: inline-block;
  }

  /* line 361, ../sass/main.scss */
  .navbar-brand img {
    width: 200px;
    margin: 10px auto;
  }

  /* line 365, ../sass/main.scss */
  .navbar-brand {
    line-height: 50px;
    vertical-align: middle;
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 413px) {
  /* line 373, ../sass/main.scss */
  .navbar-brand img {
    width: 160px;
    margin: 15px auto;
  }
}
/**** mobile heaader  end ***/
/**** image slider   ***/
/* line 381, ../sass/main.scss */
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 386, ../sass/main.scss */
.home-banner {
  height: 800px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  /* line 390, ../sass/main.scss */
  .home-banner {
    height: 400px;
  }

  /* line 393, ../sass/main.scss */
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 398, ../sass/main.scss */
  .home-banner {
    height: 280px;
  }
}
/**** image slider  end ***/
/**** owl carousel ***/
/* line 406, ../sass/main.scss */
.owl-prev, .owl-next {
  color: #cccccc;
  font-size: 80px;
  position: absolute;
  top: 32%;
  width: 60px;
  cursor: pointer;
}
/* line 413, ../sass/main.scss */
.owl-prev:before, .owl-next:before {
  font-family: FontAwesome;
}
/* line 416, ../sass/main.scss */
.owl-prev:hover, .owl-next:hover {
  color: #93c241;
}

/* line 420, ../sass/main.scss */
.owl-prev {
  left: -60px;
}
/* line 422, ../sass/main.scss */
.owl-prev:before {
  content: "\f104";
}

/* line 426, ../sass/main.scss */
.owl-next {
  right: -60px;
  text-align: right;
}
/* line 429, ../sass/main.scss */
.owl-next:before {
  content: "\f105";
}

/* line 433, ../sass/main.scss */
.owl-nav, .owl-dots {
  display: none !important;
}

/* line 436, ../sass/main.scss */
.owl-dots {
  text-align: center;
  margin-top: 30px;
}

/* line 441, ../sass/main.scss */
.owl-carousel:hover .owl-nav {
  display: block !important;
}

/* line 445, ../sass/main.scss */
.hr-green {
  border-color: #93c241;
}

/**** owl carousel  end ***/
/**** product  ***/
/* line 450, ../sass/main.scss */
.product-wrapper {
  margin: 40px auto;
}

/* line 453, ../sass/main.scss */
.section-title {
  font-weight: 700;
  text-align: center;
  color: #93c241;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 460, ../sass/main.scss */
.product-list {
  text-align: center;
  position: relative;
  border: 1px solid transparent;
}
/* line 464, ../sass/main.scss */
.product-list:hover {
  border-color: #93c241;
}
/* line 467, ../sass/main.scss */
.product-list .product-img {
  padding: 80px 20px 20px;
  display: block;
}
/* line 471, ../sass/main.scss */
.product-list a img {
  max-width: 85%;
  margin: auto;
}

/* line 476, ../sass/main.scss */
.product-title {
  height: 40px;
  overflow: hidden;
  color: #4c4c4c;
}

/* line 481, ../sass/main.scss */
.product-title a {
  color: #4c4c4c;
  font-weight: 600;
}
/* line 484, ../sass/main.scss */
.product-title a:hover {
  color: #93c241;
}

/* line 488, ../sass/main.scss */
.product-description {
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

/* line 495, ../sass/main.scss */
.price {
  font-weight: 600;
  font-size: 24px;
  color: #e23e57;
}

/* line 500, ../sass/main.scss */
.old-price {
  font-weight: 300;
  font-size: 18px;
  color: #808080;
  text-decoration: line-through;
}

/* line 506, ../sass/main.scss */
.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 510, ../sass/main.scss */
.product-flags .new, .product-flags .sale {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background: #ed4054;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 50px;
}
/* line 524, ../sass/main.scss */
.product-flags .sale {
  left: auto;
  right: 20px;
  top: 20px;
  background: #febc23;
}

/* line 531, ../sass/main.scss */
.highlighted-informations {
  position: absolute;
  bottom: 0;
  z-index: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  transition: bottom .3s;
}

/* line 540, ../sass/main.scss */
.product-list:hover .highlighted-informations {
  bottom: 100px;
}

/* line 543, ../sass/main.scss */
.add-to-cart {
  border-radius: 17px;
  -moz-box-shadow: #808080 1px 1px 2px;
  -webkit-box-shadow: #808080 1px 1px 2px;
  box-shadow: #808080 1px 1px 2px;
}
/* line 546, ../sass/main.scss */
.add-to-cart i {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 552, ../sass/main.scss */
  .product-list .highlighted-informations {
    bottom: 100px;
  }
}
/**** product end ***/
/**** brands show ***/
/* line 559, ../sass/main.scss */
.brands-wrapper {
  background-image: url("../../assets/img/demo/brand-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}

/* line 566, ../sass/main.scss */
.brand-list {
  height: 150px;
  text-align: center;
  white-space: nowrap;
}

/* line 571, ../sass/main.scss */
.img-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 576, ../sass/main.scss */
.brand-list .brand-img {
  max-height: 100%;
  max-width: 100%;
}

/* line 580, ../sass/main.scss */
.brands-wrapper .owl-prev, .brands-wrapper .owl-next {
  top: 0;
}

@media (max-width: 767px) {
  /* line 584, ../sass/main.scss */
  .brand-list {
    height: 100px;
  }

  /* line 587, ../sass/main.scss */
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
/**** brands show end ***/
/**** blog show ***/
/* line 594, ../sass/main.scss */
.table-wall {
  width: 100%;
}

/* line 597, ../sass/main.scss */
.blog-table {
  height: 350px;
}

/* line 600, ../sass/main.scss */
.blog-tags {
  padding: 10px 0;
}
/* line 602, ../sass/main.scss */
.blog-tags span:first-child {
  margin-right: 30px;
}

/* line 606, ../sass/main.scss */
.blog-date {
  color: #808080;
}

/* line 609, ../sass/main.scss */
.blog-tag {
  color: #ed4054;
}

/* line 612, ../sass/main.scss */
.blog-table p {
  line-height: 1.8;
}

/* line 615, ../sass/main.scss */
.blog-brief {
  position: relative;
  max-height: 110px;
  overflow: hidden;
}
/* line 619, ../sass/main.scss */
.blog-brief:before {
  content: "...";
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px 1px 45px;
  background: url(../../assets/img/ellipsis_bg.png) repeat-y;
}

/* line 629, ../sass/main.scss */
.blog-carousel .carousel-indicators {
  position: relative;
  left: 0;
  width: 100%;
  margin: 15px 0 0;
  bottom: 0;
}

/* line 636, ../sass/main.scss */
.blog-carousel .carousel-indicators .active {
  background-color: #93c241;
}

/* line 639, ../sass/main.scss */
.blog-carousel .carousel-indicators li {
  background-color: #ccc;
}

@media (max-width: 1200px) and (min-width: 768px) {
  /* line 643, ../sass/main.scss */
  .blog-table {
    height: 230px;
  }

  /* line 646, ../sass/main.scss */
  .blog-brief {
    max-height: 83px;
  }
}
@media (max-width: 767px) {
  /* line 651, ../sass/main.scss */
  .blog-table {
    height: auto;
  }
}
/**** blog show end ***/
/**** subscription block ***/
/* line 658, ../sass/main.scss */
.subscription-wrapper {
  background-image: url("../../assets/img/demo/bg-subscription.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}

/* line 665, ../sass/main.scss */
.subscription-wrapper form input {
  height: 46px;
}

/* line 668, ../sass/main.scss */
.subscription-wrapper form input[type=text] {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 6px 20px;
}

/* line 675, ../sass/main.scss */
.subscribe-submit {
  position: absolute;
  right: 15px;
  top: -1px;
  height: 48px !important;
  font-size: 18px;
  padding: 6px 20px;
}

@media (max-width: 767px) {
  /* line 684, ../sass/main.scss */
  .subscription-wrapper form input[type=text] {
    font-size: 14px;
  }

  /* line 687, ../sass/main.scss */
  .subscribe-submit {
    font-size: 16px;
    padding: 6px;
  }
}
/**** subscription block end ***/
/**** footer ***/
/* line 695, ../sass/main.scss */
.footer-wrapper {
  background-color: #93c241;
  padding: 30px 0 20px;
  color: #fff;
}

/* line 700, ../sass/main.scss */
.media-icon-wrapper {
  text-align: center;
}

/* line 703, ../sass/main.scss */
.footer-nav li a {
  color: #fff;
}

/* line 706, ../sass/main.scss */
.footer-nav li a:hover {
  font-weight: 600;
}

/* line 709, ../sass/main.scss */
.media-icon-wrapper .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 713, ../sass/main.scss */
.media-icon-wrapper li {
  margin: 20px 30px 0;
}

/* line 716, ../sass/main.scss */
.media-icon-wrapper li a {
  background-color: #fff;
  color: #93c241;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 24px;
  padding: 10px 0;
}

/* line 725, ../sass/main.scss */
.media-icon-wrapper li a:hover {
  opacity: 0.8;
}

/* line 728, ../sass/main.scss */
.copyright {
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 732, ../sass/main.scss */
  .media-icon-wrapper .nav li {
    display: inline-block;
  }
}
/**** footer end ***/
/**** backtop ***/
/* line 739, ../sass/main.scss */
#scrollUp {
  display: none;
  background-color: #ed4054;
  color: #fff;
  bottom: 30px;
  right: 20px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  text-align: center;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  padding-top: 5px;
  position: fixed;
  z-index: 2147483647;
}

/**** backtop end ***/
/**** category ***/
/* line 760, ../sass/main.scss */
.category-ul, .filters-collapse {
  background-color: #f4f8ee;
  padding: 15px;
  text-transform: capitalize;
}

/* line 766, ../sass/main.scss */
.category-ul a {
  color: #4d4d4d;
}
/* line 769, ../sass/main.scss */
.category-ul > li {
  position: relative;
  padding: 3px 0;
}
/* line 773, ../sass/main.scss */
.category-ul > li > a {
  font-weight: 600;
}
/* line 776, ../sass/main.scss */
.category-ul li:hover > a {
  color: #93c241;
}
/* line 779, ../sass/main.scss */
.category-ul .collapse-arrow {
  position: absolute;
  top: -4px;
  right: 0px;
  width: 30px;
  text-align: center;
  font-size: 20px;
}

/* line 788, ../sass/main.scss */
.collapse-arrow.collapsed .fa-caret-down:before {
  content: "\f0da";
}

/* line 791, ../sass/main.scss */
.panel-collapse {
  margin-bottom: 10px;
}

/* line 795, ../sass/main.scss */
.products-sort-order .select-title {
  display: inline-block;
  margin-left: .375rem;
  width: 100%;
  color: #414141;
  padding: .625rem;
  cursor: pointer;
  border: 1px solid #4d4d4d;
}
/* line 805, ../sass/main.scss */
.products-sort-order .dropdown-menu {
  left: auto;
  width: 90%;
  background: #f4f8ee;
  border: none;
  border-radius: 0;
}
/* line 812, ../sass/main.scss */
.products-sort-order .select-list {
  display: block;
  color: #414141;
  padding: .625rem 1.25rem;
}
/* line 817, ../sass/main.scss */
.products-sort-order .select-list:hover {
  background: #93c241;
  color: #fff;
  text-decoration: none;
}

/* line 823, ../sass/main.scss */
.sort-by {
  font-size: 18px;
  color: #93c241;
  text-align: right;
}

/* line 828, ../sass/main.scss */
.select-title .fa-caret-down {
  padding-top: 5px;
}

/* line 831, ../sass/main.scss */
.page-input {
  border-radius: 4px;
  width: 56px;
  text-align: center;
  color: #808080;
  border: 1px solid #4d4d4d;
  line-height: 26px;
  padding: 3px 6px;
}

/* line 841, ../sass/main.scss */
.icheck-minimal ul {
  padding: 10px 0;
}
/* line 844, ../sass/main.scss */
.icheck-minimal ul + ul {
  border-top: 1px solid #fff;
}
/* line 847, ../sass/main.scss */
.icheck-minimal label {
  font-weight: 400;
  font-size: 14px;
}
/* line 851, ../sass/main.scss */
.icheck-minimal .icheckbox_minimal-green.checked + label {
  color: #93c241;
}

/**** category end ***/
/**** product detail ***/
/* line 858, ../sass/main.scss */
.product-id {
  font-size: 24px;
  color: #4c4c4c;
}

/* line 862, ../sass/main.scss */
.product-brand span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}

/* line 867, ../sass/main.scss */
.brand-small-img {
  width: 60px;
  margin-right: 10px;
}

/* line 871, ../sass/main.scss */
.product-introduction {
  color: #808080;
  font-size: 16px;
  margin: 10px 0 30px;
}

/* line 876, ../sass/main.scss */
.product-price {
  margin: 10px 0 20px;
}
/* line 878, ../sass/main.scss */
.product-price .price {
  font-size: 30px;
  display: block;
}
/* line 882, ../sass/main.scss */
.product-price .old-price {
  font-size: 24px;
  display: block;
}

/* line 887, ../sass/main.scss */
.product-quantity .qty {
  width: 160px;
  color: #808080;
}

/* line 891, ../sass/main.scss */
.num-input-wrapper {
  position: relative;
  width: 100%;
  border-radius: 0;
}

/* line 896, ../sass/main.scss */
.quantity_wanted {
  background-color: #fff;
  height: 46px;
  padding: 10px;
  width: 70px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #000;
  font-size: 18px;
  margin-left: 40px;
}

/* line 907, ../sass/main.scss */
.product-num {
  padding: 8px 11px;
  background: none;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 915, ../sass/main.scss */
.product-num.num-plus {
  left: 116px;
}

/* line 918, ../sass/main.scss */
.btn-add-cart {
  height: 46px;
  font-size: 24px;
  margin-right: 10px;
}

/* line 923, ../sass/main.scss */
.btn-add-cart i {
  font-size: 30px;
  margin-right: 10px;
}

/* line 928, ../sass/main.scss */
.social-sharing ul, .social-sharing li {
  display: inline-block;
}
/* line 931, ../sass/main.scss */
.social-sharing li {
  margin: 0 10px;
}
/* line 934, ../sass/main.scss */
.social-sharing a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cccccc;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
}
/* line 944, ../sass/main.scss */
.social-sharing a:hover {
  color: #93c241;
}

/* line 950, ../sass/main.scss */
.tabs li {
  display: inline-block;
}

/* line 954, ../sass/main.scss */
.information-title-tab {
  text-align: center;
  font-size: 30px;
  color: #808080;
}
/* line 958, ../sass/main.scss */
.information-title-tab li a {
  color: #808080;
}
/* line 961, ../sass/main.scss */
.information-title-tab li.active a {
  color: #93c241;
}

/* line 965, ../sass/main.scss */
.product-style-2 .product-list {
  position: relative;
}

/* line 968, ../sass/main.scss */
.view-more-master {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

/* line 978, ../sass/main.scss */
.view-product {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  background-color: #93c241;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 36%;
}
/* line 991, ../sass/main.scss */
.view-product:hover {
  color: #fff;
  background-color: #ed4054;
}

/* line 996, ../sass/main.scss */
.product-style-2 .product-list:hover {
  border-color: transparent;
}
/* line 998, ../sass/main.scss */
.product-style-2 .product-list:hover .view-more-master {
  display: block;
}

/* line 1004, ../sass/main.scss */
.blockcart-modal .modal-dialog {
  max-width: 1140px;
  width: 100%;
}
/* line 1008, ../sass/main.scss */
.blockcart-modal .modal-content {
  border-radius: 0;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
}
/* line 1012, ../sass/main.scss */
.blockcart-modal .modal-header {
  background: #93c241;
}
/* line 1014, ../sass/main.scss */
.blockcart-modal .modal-header .close {
  color: #fff;
  opacity: 1;
}
/* line 1019, ../sass/main.scss */
.blockcart-modal .modal-title {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
/* line 1025, ../sass/main.scss */
.blockcart-modal .divide-right {
  border-right: 1px solid #93c241;
}
/* line 1028, ../sass/main.scss */
.blockcart-modal .cart-content {
  padding-left: 25px;
}
/* line 1032, ../sass/main.scss */
.blockcart-modal .cart-content .btn {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 1038, ../sass/main.scss */
.blockcart-modal .btn-secondary {
  background-color: #fff;
  color: #808080;
  -moz-box-shadow: 1px 2px 3px #808080;
  -webkit-box-shadow: 1px 2px 3px #808080;
  box-shadow: 1px 2px 3px #808080;
}
/* line 1042, ../sass/main.scss */
.blockcart-modal .btn-secondary:hover {
  color: #c4c4c4;
}

@media (min-width: 768px) {
  /* line 1049, ../sass/main.scss */
  .product-quantity .qty, .product-quantity .add {
    display: inline-block;
  }
}
/**** product detail end ***/
/**** brands page ***/
/**** brands page end ***/
/**** blog page ***/
/* line 1060, ../sass/main.scss */
.blog-nav {
  background-color: #f4f8ee;
  padding: 5px 15px;
}
/* line 1063, ../sass/main.scss */
.blog-nav ul {
  margin: 6px 0;
  padding-left: 0;
}
/* line 1067, ../sass/main.scss */
.blog-nav ul, .blog-nav li {
  float: left;
}
/* line 1070, ../sass/main.scss */
.blog-nav li {
  margin: 0 40px;
}
/* line 1072, ../sass/main.scss */
.blog-nav li a {
  color: #4c4c4c;
}
/* line 1074, ../sass/main.scss */
.blog-nav li a:hover {
  color: #93c241;
}
/* line 1080, ../sass/main.scss */
.blog-nav li.active a {
  color: #93c241;
}

/* line 1085, ../sass/main.scss */
.blog-list {
  margin: 60px 0;
}

/* line 1088, ../sass/main.scss */
.blog-read-more {
  margin-top: 30px;
  min-width: 155px;
  font-size: 18px;
  font-weight: 600;
}

/* line 1094, ../sass/main.scss */
.blog-detail {
  background-color: #f4f8ee;
}

@media (min-width: 768px) {
  /* line 1098, ../sass/main.scss */
  .blog-banner-info {
    padding: 0 20px;
  }
  /* line 1100, ../sass/main.scss */
  .blog-banner-info .blog-date {
    color: #93c241;
  }
  /* line 1103, ../sass/main.scss */
  .blog-banner-info .social-sharing {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  /* line 1110, ../sass/main.scss */
  .blog-nav li {
    float: none;
  }
}
/**** blog page end ***/
/**** customer service ***/
/* line 1118, ../sass/main.scss */
.a-email {
  color: #93c241;
  font-weight: 700;
}

/* line 1123, ../sass/main.scss */
.service-list > a {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #93c241;
}
/* line 1130, ../sass/main.scss */
.service-list .collapse-arrow .fa-caret-down:before {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 1135, ../sass/main.scss */
.service-list .collapse-arrow.collapsed .fa-caret-down:before {
  content: "\f0d8";
}

/* line 1140, ../sass/main.scss */
.service-list ul, .service-list ol {
  margin-bottom: 30px;
}
/* line 1143, ../sass/main.scss */
.service-list .panel-collapse {
  margin: 20px 0 30px;
}

/* line 1147, ../sass/main.scss */
.list-nostyle {
  list-style: none;
  padding-left: 30px;
}

/**** customer service end ***/
/**** common section  ***/
/* line 1154, ../sass/main.scss */
.description-wrapper {
  margin: 60px 0;
}
/* line 1156, ../sass/main.scss */
.description-wrapper p {
  margin: 10px 0 20px;
}

/**** common section end ***/
/**** contact us ***/
/* line 1163, ../sass/main.scss */
.bg-light-green {
  background-color: #f4f8ee;
  padding: 15px;
}

/* line 1167, ../sass/main.scss */
.contact-form-wrapper {
  margin: 60px 0;
  padding: 30px 15px;
  -moz-box-shadow: 0px 1px 2px #ccc;
  -webkit-box-shadow: 0px 1px 2px #ccc;
  box-shadow: 0px 1px 2px #ccc;
}

/* line 1173, ../sass/main.scss */
.custom-form .form-group {
  margin-bottom: 20px;
}
/* line 1176, ../sass/main.scss */
.custom-form .control-label {
  padding-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
}
/* line 1182, ../sass/main.scss */
.custom-form .form-control {
  border-radius: 0;
  border-color: #ccc;
}

/* line 1187, ../sass/main.scss */
.btn-gray {
  margin-right: 30px;
  color: #fff;
}
/* line 1190, ../sass/main.scss */
.btn-gray:hover, .btn-gray:focus, .btn-gray.focus {
  color: #4c4c4c;
  background-color: #fff;
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  /* line 1198, ../sass/main.scss */
  .dl-custom-1 dt, .dl-custom-1 dd {
    margin-bottom: 10px;
  }
  /* line 1201, ../sass/main.scss */
  .dl-custom-1 dt {
    text-align: left;
    width: 140px;
    font-weight: normal;
  }
  /* line 1206, ../sass/main.scss */
  .dl-custom-1 dd {
    margin-left: 150px;
  }
}
@media (max-width: 767px) {
  /* line 1213, ../sass/main.scss */
  .dl-custom-1 dt {
    margin-top: 10px;
  }
}
/**** contact us end ***/
/**** my account ***/
/* line 1221, ../sass/main.scss */
.account-item {
  display: block;
  text-align: center;
  padding: 40px 10px;
  font-weight: 700;
  font-size: 24px;
  color: #808080;
  margin-bottom: 30px;
  text-transform: uppercase;
  -moz-box-shadow: 1px 1px 2px #808080;
  -webkit-box-shadow: 1px 1px 2px #808080;
  box-shadow: 1px 1px 2px #808080;
}
/* line 1231, ../sass/main.scss */
.account-item i {
  display: block;
}
/* line 1234, ../sass/main.scss */
.account-item:hover {
  background-color: #93c241;
  color: #fff;
}

/**** my account end ***/
/**** order history ***/
/* line 1242, ../sass/main.scss */
.order-item {
  margin-top: 30px;
}

/* line 1245, ../sass/main.scss */
.once-item {
  margin: 30px 0;
}

/* line 1249, ../sass/main.scss */
.price-qty .col-xs-12 {
  text-align: right;
}

/* line 1254, ../sass/main.scss */
.custom-table-striped > thead > tr {
  background-color: #e6eed9;
}
/* line 1256, ../sass/main.scss */
.custom-table-striped > thead > tr > th {
  border-bottom: 1px solid #fff;
  padding: 15px 8px;
}
/* line 1261, ../sass/main.scss */
.custom-table-striped > tbody > tr > th,
.custom-table-striped > tbody > tr > td {
  font-weight: normal;
  font-size: 14px;
  color: #808080;
}
/* line 1267, ../sass/main.scss */
.custom-table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e6eed9;
}
/* line 1270, ../sass/main.scss */
.custom-table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f4f8ee;
}

/**** order history end ***/
/**** addresses ***/
/* line 1277, ../sass/main.scss */
.address-body {
  min-height: 350px;
}

/* line 1282, ../sass/main.scss */
.address-footer a i {
  font-size: 18px;
  margin-right: 10px;
}
/* line 1286, ../sass/main.scss */
.address-footer a:hover {
  color: #93c241;
}

/**** addresses end ***/
/**** login page ***/
/* line 1293, ../sass/main.scss */
.toggle-password {
  position: relative;
}

/* line 1296, ../sass/main.scss */
.toggle-password-btn {
  position: absolute;
  top: 1px;
  right: 0;
}
/* line 1300, ../sass/main.scss */
.toggle-password-btn .btn {
  background: none;
}

/**** login page end ***/
/**** shopping cart ***/
/* line 1307, ../sass/main.scss */
.border-white {
  border-top: 1px solid #fff;
}

/* line 1310, ../sass/main.scss */
.border-green {
  border-top: 1px solid #93c241;
}

/* line 1314, ../sass/main.scss */
.promo-wrapper .form-control {
  float: left;
  width: 75%;
}
/* line 1318, ../sass/main.scss */
.promo-wrapper button {
  float: right;
  width: 20%;
}

/* line 1324, ../sass/main.scss */
.cart-product-price .price {
  font-size: 18px;
  display: block;
}
/* line 1328, ../sass/main.scss */
.cart-product-price .old-price {
  font-size: 16px;
}

/* line 1332, ../sass/main.scss */
.cart-qty {
  text-align: left !important;
}
/* line 1334, ../sass/main.scss */
.cart-qty .quantity_wanted {
  margin-left: 0;
  border-color: #ccc;
  width: 60px;
}
/* line 1339, ../sass/main.scss */
.cart-qty .product-num {
  left: 65px;
  right: 0;
  padding: 0;
  font-size: 22px;
  height: 24px;
  line-height: 24px;
  width: 25px;
  color: #808080;
}
/* line 1349, ../sass/main.scss */
.cart-qty .num-sub {
  top: 0px;
}
/* line 1352, ../sass/main.scss */
.cart-qty .product-num.num-plus {
  top: auto;
  bottom: 0px;
}

/* line 1358, ../sass/main.scss */
.cart-items > tbody > tr > td {
  border: 0;
  padding: 15px 8px;
}
/* line 1362, ../sass/main.scss */
.cart-items td {
  text-align: center;
}

/* line 1366, ../sass/main.scss */
.cart-img {
  width: 22%;
}

/* line 1369, ../sass/main.scss */
.cart-product-info {
  width: 40%;
  text-align: left !important;
  vertical-align: top;
}

/* line 1374, ../sass/main.scss */
.remove-from-cart {
  color: #4c4c4c;
  font-size: 26px;
}
/* line 1377, ../sass/main.scss */
.remove-from-cart:hover {
  color: #c4c4c4;
}

@media (max-width: 767px) {
  /* line 1383, ../sass/main.scss */
  .cart-items > tbody > tr {
    border-bottom: 1px solid #ccc;
  }
  /* line 1386, ../sass/main.scss */
  .cart-items > tbody > tr > td {
    display: inline-block;
  }

  /* line 1390, ../sass/main.scss */
  .cart-img, .cart-product-info, .cart-qty {
    float: left;
  }

  /* line 1393, ../sass/main.scss */
  .cart-img {
    width: 100%;
  }
  /* line 1395, ../sass/main.scss */
  .cart-img img {
    width: 50%;
    margin: auto;
  }

  /* line 1400, ../sass/main.scss */
  .cart-product-info {
    width: 100%;
  }

  /* line 1403, ../sass/main.scss */
  .cart-qty {
    width: 40%;
  }
}
/**** shopping cart end ***/
/**** checkout ***/
/* line 1411, ../sass/main.scss */
.checkout-step .information-title-tab {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

/**** checkout end ***/
@media (min-width: 768px) {
  /* line 1420, ../sass/main.scss */
  .hide-md {
    display: none !important;
  }

  /* line 1423, ../sass/main.scss */
  .desktop-mt50 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  /* line 1428, ../sass/main.scss */
  .hide-xs {
    display: none !important;
  }
}
