/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
*/
/*** common style **/
/* line 7, ../sass/main.scss */
a:hover, a:visited {
  text-decoration: none;
}

/* line 10, ../sass/main.scss */
.font-green {
  color: #93c241;
}

/* line 13, ../sass/main.scss */
.font-red {
  color: #ed4054;
}

/* line 16, ../sass/main.scss */
.font-simiblod {
  font-weight: 600;
}

/* line 19, ../sass/main.scss */
.font-bold {
  font-weight: 700;
}

/* line 22, ../sass/main.scss */
.font-up {
  text-transform: uppercase;
}

/* line 25, ../sass/main.scss */
.po-r {
  position: relative;
}

/* line 28, ../sass/main.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 32, ../sass/main.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
/* line 35, ../sass/main.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: inherit;
}

/*** common style end **/
/* line 41, ../sass/main.scss */
.layout-full-width {
  max-width: 1980px;
}

/* line 44, ../sass/main.scss */
#header {
  color: #7d6a55;
}
/* line 47, ../sass/main.scss */
#header .header-nav {
  max-height: 50px;
  padding: .9375rem 37px;
  margin-bottom: 30px;
}
/* line 52, ../sass/main.scss */
#header .header-nav .inline-block-wrap > div {
  display: inline-block;
}
/* line 56, ../sass/main.scss */
#header .header-nav .fa-cart-arrow-down {
  font-size: 1.8em;
}
/* line 62, ../sass/main.scss */
#header .user-info a {
  color: #7d6a55;
}
/* line 67, ../sass/main.scss */
#header .language-selector-wrapper {
  margin-left: 2.5rem;
}
/* line 71, ../sass/main.scss */
#header .language-selector {
  white-space: nowrap;
  cursor: pointer;
}
/* line 76, ../sass/main.scss */
#header .fa-caret-down {
  padding-left: .375rem;
  color: #7d6a55;
}
/* line 81, ../sass/main.scss */
#header .blockcart {
  margin-left: .9375rem;
}
/* line 84, ../sass/main.scss */
#header .blockcart .header {
  position: relative;
}
/* line 88, ../sass/main.scss */
#header .blockcart.inactive .cart-products-count {
  position: absolute;
  top: -5px;
  right: -12px;
  background-color: #93c241;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

/**** search   ***/
/* line 105, ../sass/main.scss */
.search-widget form input[type=text] {
  border: 1px solid #7d6a55;
  padding: 2px 10px;
  min-width: 255px;
}
/* line 109, ../sass/main.scss */
.search-widget form input[type=text]:active, .search-widget form input[type=text]:hover, .search-widget form input[type=text]:focus, .search-widget form input[type=text]:visited {
  outline: none;
}
/* line 114, ../sass/main.scss */
.search-widget form button[type=submit] {
  background: none;
  border: none;
}
/* line 117, ../sass/main.scss */
.search-widget form button[type=submit]:active, .search-widget form button[type=submit]:hover, .search-widget form button[type=submit]:focus, .search-widget form button[type=submit]:visited {
  color: #93c241;
  outline: none;
}

/* line 125, ../sass/main.scss */
.search-dropdown .dropdown-menu {
  position: absolute;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: auto;
  right: 0;
  width: 293px;
}
/* line 136, ../sass/main.scss */
.search-dropdown .fa-2x {
  font-size: 24px;
  cursor: pointer;
}
/* line 139, ../sass/main.scss */
.search-dropdown .fa-2x:hover {
  color: #93c241;
}

/**** search  end ***/
/**** header nav ***/
/* line 149, ../sass/main.scss */
.header-top a {
  color: #7c6a55;
}
/* line 152, ../sass/main.scss */
.header-top .user-info {
  float: right;
  font-size: 24px;
  margin: 10px 7px;
}

/* line 159, ../sass/main.scss */
.top-header.navbar-nav {
  float: none;
}

/* line 163, ../sass/main.scss */
.top-header > li {
  position: relative;
  overflow: hidden;
}
/* line 166, ../sass/main.scss */
.top-header > li > a {
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 171, ../sass/main.scss */
.top-header > li .fa-angle-down {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
/* line 182, ../sass/main.scss */
.top-header li:hover > a {
  color: #93c241;
}

/* line 187, ../sass/main.scss */
.down-level-1 {
  width: 100%;
  background-color: #f4f8ee;
}
/* line 191, ../sass/main.scss */
.down-level-1:before {
  content: "";
  height: 22px;
  position: absolute;
  top: -22px;
  width: 100%;
  left: 0;
}
/* line 200, ../sass/main.scss */
.down-level-1:after {
  font-family: FontAwesome;
  content: "\f0d8";
  position: absolute;
  top: -32px;
  left: 45%;
  font-size: 30px;
  color: #f4f8ee;
}
/* line 210, ../sass/main.scss */
.down-level-1 li a {
  display: block;
  padding: 5px 15px;
  font-weight: 600;
}

@media (min-width: 768px) {
  /* line 217, ../sass/main.scss */
  .navbar-header {
    margin-bottom: 20px;
  }

  /* line 220, ../sass/main.scss */
  .navbar > .container .navbar-brand {
    display: block;
    width: 100%;
  }
  /* line 223, ../sass/main.scss */
  .navbar > .container .navbar-brand img {
    margin: auto;
  }

  /* line 228, ../sass/main.scss */
  .top-header > li {
    float: left;
    width: 25%;
  }
  /* line 231, ../sass/main.scss */
  .top-header > li > a {
    text-align: center;
  }
  /* line 234, ../sass/main.scss */
  .top-header > li .fa-angle-down {
    display: none;
  }
  /* line 238, ../sass/main.scss */
  .top-header li:hover {
    overflow: visible;
  }
  /* line 240, ../sass/main.scss */
  .top-header li:hover .down-level-1 {
    opacity: 1;
    visibility: visible;
  }
  /* line 245, ../sass/main.scss */
  .top-header .dropdown-menu {
    display: block;
    border: 0;
    box-shadow: none;
  }

  /* line 253, ../sass/main.scss */
  .down-level-1 {
    position: absolute;
    top: 55px;
    left: -15px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}
/**** header nav  end ***/
/* line 264, ../sass/main.scss */
#wrapper .breadcrumb[data-depth="1"] {
  display: none;
}

/**** mobile heaader   ***/
/* line 268, ../sass/main.scss */
.mobile-cart {
  float: right;
  font-size: 15px;
  margin: 15px 15px 15px 0;
}

@media (max-width: 767px) {
  /* line 274, ../sass/main.scss */
  #header .language-selector-wrapper {
    margin-left: 0;
  }

  /* line 277, ../sass/main.scss */
  .language-selector {
    display: inline-block;
  }

  /* line 280, ../sass/main.scss */
  .navbar-brand img {
    width: 200px;
    margin: 10px auto;
  }

  /* line 284, ../sass/main.scss */
  .navbar-brand {
    line-height: 50px;
    vertical-align: middle;
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 413px) {
  /* line 292, ../sass/main.scss */
  .navbar-brand img {
    width: 160px;
    margin: 15px auto;
  }
}
/**** mobile heaader  end ***/
/**** image slider   ***/
/* line 300, ../sass/main.scss */
.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 305, ../sass/main.scss */
.home-banner {
  height: 800px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  /* line 309, ../sass/main.scss */
  .home-banner {
    height: 400px;
  }

  /* line 312, ../sass/main.scss */
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 317, ../sass/main.scss */
  .home-banner {
    height: 280px;
  }
}
/**** image slider  end ***/
/**** owl carousel ***/
/* line 325, ../sass/main.scss */
.owl-prev, .owl-next {
  color: #cccccc;
  font-size: 80px;
  position: absolute;
  top: 32%;
  width: 60px;
  cursor: pointer;
}
/* line 332, ../sass/main.scss */
.owl-prev:before, .owl-next:before {
  font-family: FontAwesome;
}
/* line 335, ../sass/main.scss */
.owl-prev:hover, .owl-next:hover {
  color: #93c241;
}

/* line 339, ../sass/main.scss */
.owl-prev {
  left: -60px;
}
/* line 341, ../sass/main.scss */
.owl-prev:before {
  content: "\f104";
}

/* line 345, ../sass/main.scss */
.owl-next {
  right: -60px;
  text-align: right;
}
/* line 348, ../sass/main.scss */
.owl-next:before {
  content: "\f105";
}

/* line 352, ../sass/main.scss */
.owl-nav, .owl-dots {
  display: none !important;
}

/* line 355, ../sass/main.scss */
.owl-dots {
  text-align: center;
  margin-top: 30px;
}

/* line 360, ../sass/main.scss */
.owl-carousel:hover .owl-nav {
  display: block !important;
}

/* line 364, ../sass/main.scss */
.hr-green {
  border-color: #93c241;
}

/**** owl carousel  end ***/
/**** product  ***/
/* line 369, ../sass/main.scss */
.product-wrapper {
  margin: 40px auto;
}

/* line 372, ../sass/main.scss */
.section-title {
  font-weight: 700;
  text-align: center;
  color: #93c241;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 379, ../sass/main.scss */
.product-list {
  text-align: center;
  position: relative;
  border: 1px solid transparent;
}
/* line 383, ../sass/main.scss */
.product-list:hover {
  border-color: #93c241;
}
/* line 386, ../sass/main.scss */
.product-list .product-img {
  padding: 80px 20px 20px;
  display: block;
}
/* line 390, ../sass/main.scss */
.product-list a img {
  max-width: 85%;
  margin: auto;
}

/* line 395, ../sass/main.scss */
.product-title a {
  color: #4c4c4c;
  font-weight: 600;
}
/* line 398, ../sass/main.scss */
.product-title a:hover {
  color: #93c241;
}

/* line 402, ../sass/main.scss */
.product-description {
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

/* line 409, ../sass/main.scss */
.price {
  font-weight: 600;
  font-size: 30px;
  color: #e23e57;
}

/* line 414, ../sass/main.scss */
.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 418, ../sass/main.scss */
.product-flags .new {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background: #ed4054;
  text-transform: uppercase;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 65px;
}

/* line 433, ../sass/main.scss */
.highlighted-informations {
  position: absolute;
  bottom: 0;
  z-index: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  transition: bottom .3s;
}

/* line 442, ../sass/main.scss */
.product-list:hover .highlighted-informations {
  bottom: 100px;
}

/* line 445, ../sass/main.scss */
.add-to-cart {
  border-radius: 17px;
  -moz-box-shadow: #808080 1px 1px 2px;
  -webkit-box-shadow: #808080 1px 1px 2px;
  box-shadow: #808080 1px 1px 2px;
}
/* line 448, ../sass/main.scss */
.add-to-cart i {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 454, ../sass/main.scss */
  .product-list .highlighted-informations {
    bottom: 100px;
  }
}
/**** product end ***/
/**** brands show ***/
/* line 462, ../sass/main.scss */
.brands-wrapper {
  background-image: url("../../assets/img/demo/brand-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}

/* line 469, ../sass/main.scss */
.brand-list {
  height: 150px;
  text-align: center;
  white-space: nowrap;
}

/* line 474, ../sass/main.scss */
.img-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 479, ../sass/main.scss */
.brand-list .brand-img {
  max-height: 100%;
  max-width: 100%;
}

/* line 483, ../sass/main.scss */
.brands-wrapper .owl-prev, .brands-wrapper .owl-next {
  top: 0;
}

@media (max-width: 767px) {
  /* line 487, ../sass/main.scss */
  .brand-list {
    height: 100px;
  }

  /* line 490, ../sass/main.scss */
  .owl-carousel .owl-dots {
    display: block !important;
  }
}
/**** brands show end ***/
/**** blog show ***/
/* line 497, ../sass/main.scss */
.table-wall {
  width: 100%;
}

/* line 500, ../sass/main.scss */
.blog-table {
  min-height: 550px;
}

/* line 503, ../sass/main.scss */
.blog-tags {
  padding: 10px 0;
}

/* line 506, ../sass/main.scss */
.blog-date {
  color: #808080;
  margin-right: 30px;
}

/* line 510, ../sass/main.scss */
.blog-tag {
  color: #ed4054;
}

/* line 513, ../sass/main.scss */
.blog-table p {
  line-height: 1.8;
}

/* line 516, ../sass/main.scss */
.blog-carousel .carousel-indicators {
  position: relative;
  left: 0;
  width: 100%;
  margin: 15px 0 0;
  bottom: 0;
}

/* line 523, ../sass/main.scss */
.blog-carousel .carousel-indicators .active {
  background-color: #93c241;
}

/* line 526, ../sass/main.scss */
.blog-carousel .carousel-indicators li {
  background-color: #ccc;
}

@media (max-width: 1200px) and (min-width: 768px) {
  /* line 530, ../sass/main.scss */
  .blog-table {
    min-height: 350px;
  }
}
@media (max-width: 767px) {
  /* line 535, ../sass/main.scss */
  .blog-table {
    height: auto;
  }
}
/**** blog show end ***/
/**** subscription block ***/
/* line 542, ../sass/main.scss */
.subscription-wrapper {
  background-image: url("../../assets/img/demo/bg-subscription.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}

/* line 549, ../sass/main.scss */
.subscription-wrapper form input {
  height: 46px;
}

/* line 552, ../sass/main.scss */
.subscription-wrapper form input[type=text] {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 6px 20px;
}

/* line 559, ../sass/main.scss */
.subscribe-submit {
  position: absolute;
  right: 15px;
  top: -1px;
  height: 48px !important;
  font-size: 18px;
  padding: 6px 20px;
}

@media (max-width: 767px) {
  /* line 568, ../sass/main.scss */
  .subscription-wrapper form input[type=text] {
    font-size: 14px;
  }

  /* line 571, ../sass/main.scss */
  .subscribe-submit {
    font-size: 16px;
    padding: 6px;
  }
}
/**** subscription block end ***/
/**** footer ***/
/* line 579, ../sass/main.scss */
.footer-wrapper {
  background-color: #93c241;
  padding: 30px 0 20px;
  color: #fff;
}

/* line 584, ../sass/main.scss */
.media-icon-wrapper {
  text-align: center;
}

/* line 587, ../sass/main.scss */
.footer-nav li a {
  color: #fff;
}

/* line 590, ../sass/main.scss */
.footer-nav li a:hover {
  font-weight: 600;
}

/* line 593, ../sass/main.scss */
.media-icon-wrapper .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 597, ../sass/main.scss */
.media-icon-wrapper li {
  margin: 20px 30px 0;
}

/* line 600, ../sass/main.scss */
.media-icon-wrapper li a {
  background-color: #fff;
  color: #93c241;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 24px;
  padding: 10px 0;
}

/* line 609, ../sass/main.scss */
.media-icon-wrapper li a:hover {
  opacity: 0.8;
}

/* line 612, ../sass/main.scss */
.copyright {
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 616, ../sass/main.scss */
  .media-icon-wrapper .nav li {
    display: inline-block;
  }
}
/**** footer end ***/
@media (min-width: 768px) {
  /* line 623, ../sass/main.scss */
  .hide-md {
    display: none !important;
  }

  /* line 626, ../sass/main.scss */
  .desktop-mt50 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  /* line 631, ../sass/main.scss */
  .hide-xs {
    display: none !important;
  }
}
